@mixin center($a, $b) {
  display: flex;
  align-items: $a;
  justify-content: $b;
}
.App {
  background-color: rgb(214, 213, 213);
  width: 100vw;
  height: 100vh;
  @include center(flex-start, center);
  position: relative;
  .Game {
    margin-top: 20px;
    width: 500px;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.171);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . b1 . ." ". b2 b3 b4 ." "b5 b6 b7 b8 b9" ". b10 b11 b12 ." ". . b13 . .";
    .Box {
      background-color: #fff;
      &.top {
        border-top: 2px solid #000;
      }
      &.bottom {
        border-bottom: 2px solid #000;
      }
      &.left {
        border-left: 2px solid #000;
      }
      &.right {
        border-right: 2px solid #000;
      }
      &.selected {
        background-color: rgba(0, 0, 255, 0.363);
      }
    }
  }
  .Modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: green;
  }
}

//grid areas

.Game {
  div:nth-child(1) {
    grid-area: b1;
  }
  div:nth-child(2) {
    grid-area: b2;
  }
  div:nth-child(3) {
    grid-area: b3;
  }
  div:nth-child(4) {
    grid-area: b4;
  }
  div:nth-child(5) {
    grid-area: b5;
  }
  div:nth-child(6) {
    grid-area: b6;
  }
  div:nth-child(7) {
    grid-area: b7;
  }
  div:nth-child(8) {
    grid-area: b8;
  }
  div:nth-child(9) {
    grid-area: b9;
  }
  div:nth-child(10) {
    grid-area: b10;
  }
  div:nth-child(11) {
    grid-area: b11;
  }
  div:nth-child(12) {
    grid-area: b12;
  }
  div:nth-child(13) {
    grid-area: b13;
  }
}

.none {
  display: none;
}
